html,
body {
  background-color: #242424;
  color: white;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.valueDiv {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.currencysDiv {
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: relative;
}

.fa-arrows-rotate {
  font-size: larger;
  margin-top: 10px;
  left: 215px;
  top: 10px;
  position: absolute;
}

.resultDiv {
  box-shadow: 0 0 5px 1px white;
  background: transparent;
  color: white;
  border-radius: 4px;
  outline: none;
  width: 200px;
  height: 35px;
  padding: 0px 10px;
  font-size: large;
  transition: all 300ms ease;
  border: transparent;
  display: flex;
  align-items: center;

}